@if (data().length === 0) {
  <div class="app-data-table__vazio">
    <span class="app-data-table__vazio-icone">📄</span>
    <p>{{ emptyMessage() }}</p>
  </div>
} @else {
  <table mat-table [dataSource]="data()" class="app-data-table">
    @for (column of columns(); track column.key) {
      <ng-container [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let row">{{ valorCelula(row, column) }}</td>
      </ng-container>
    }

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef aria-label="Acoes"></th>
      <td mat-cell *matCellDef="let row">
        @if (actionsTemplate) {
          <ng-container [ngTemplateOutlet]="actionsTemplate" [ngTemplateOutletContext]="{ $implicit: row }" />
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.app-data-table__row--clickavel]="clickavel()"
      (click)="aoClicarLinha(row)"
    ></tr>
  </table>
}
